<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 2011 Axis Data Management Corp.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 - http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>JCreole Document Server</display-name>

    <!-- Compliments of Apache Tomcat.
         This only sets INCOMING/Request encoding.  -->
  <!--
  <filter>
    <filter-name>TomcatEncodingFilter</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>TomcatEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>creoleToHtmlHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    <load-on-startup>4321</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>creoleToHtmlHandler</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <!-- See http://wiki.metawerx.net/wiki/HowToUseAServletAsYourMainWebPage -->
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
</web-app>
