<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 2011 Axis Data Management Corp.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 - http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>JCreole Document Server</display-name>


  <!--
         It's usually better to change the runtime values of context params
         using your app server rather than modifying an application.
         Most app servers provide a management console or application to change
         context params.  With Tomcat, you provide a 'context.xml' file with
         an element like:  <Parameter name="creoleRoot" value="sdir"/>

         N.b. only .creole files and boilerplate .html reside under the
         Creole Root.  Other content, such as .css files, text files, images
         (jpeg, etc.) should be deloyed to the standard web app area  (i.e.
         .../appName/... excluding .../appName/WEB-INF, .../appName/META-INF).
  -->

  <!--   The value 'WEB-INF/creole' is the default.
         If you change it to the empty string, then your creole, boilerplate,
         and referenced files (like *.css, *.jpg, etc.) can reside
         side-by-side, with the undesirable consequence that various problems
         could result in your boilerplate and creole source code being exposed
         to end users.  WEB-INF/** resources are pretty safe from observation
         if your administrator is competent.
         Absolute values, /*, are absolute paths, and your Creole doc root
         can reside outside of the web app.
         Non-absolute paths are relative to the web-app root directory.
  <context-param>
    <description>Root directory for boilerplate and .creole files.
      Must be a relative path, relative to the application home directory.
    </description>
    <param-name>creoleRoot</param-name>
    <param-value>WEB-INF/creole</param-value>
  </context-param>
  -->

  <!--  Default value is 'true'.
  <context-param>
    <description>Set to false to show an index page only when 'index.creole'
      is present in the target directory.
    </description>
    <param-name>autoIndexing</param-name>
    <param-value>true</param-value>
  </context-param>
  -->

  <servlet>
    <description>Creole-toHtml Servlet</description>
    <servlet-name>creoleToHtmlServlet</servlet-name>
    <servlet-class>com.admc.jcreole.CreoleToHtmlServlet</servlet-class>
    <load-on-startup>211</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>creoleToHtmlServlet</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <!-- See http://wiki.metawerx.net/wiki/HowToUseAServletAsYourMainWebPage -->
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
</web-app>
